body{
color: rgb(119, 13, 172);
    background-color: rgb(235, 200, 113);
}

.stopwatch{
    height: 250px;
    width: 700px;
    border: 2px solid rgb(119, 13, 172);
    text-align: center;
    margin:150px auto;
    background-color: rgb(219, 183, 90);
    border-radius: 20px;
}
#time{
    font-size: 35px;
}
#btn1, #btn2, #btn3{
    margin: 17px;
    padding: 15px;
    width: 160px;
    background-color: rgb(207, 163, 51);
    color:rgb(87, 9, 126) ;
    font-size: 20px;
    border-radius: 15px;
    font-weight:bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
#btn1:hover, #btn2:hover, #btn3:hover{
    background-color: rgb(119, 13, 172);
    color: rgb(207, 163, 51);
    cursor: pointer;;
}